<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.Dictionary</key>
	<dict>
		<key>parentalControl</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
	</dict>
	<key>com.apple.applicationaccess.new</key>
	<dict>
		<key>appStoreBlackList</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<array/>
		</dict>
		<key>familyControlsEnabled</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
		<key>whiteList</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<array/>
		</dict>
	</dict>
	<key>com.apple.appstore</key>
	<dict>
		<key>RestrictPurchase</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
	</dict>
	<key>com.apple.dashboard</key>
	<dict>
		<key>WhiteList</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<array>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.calculator</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.calendar</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.addressbook</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.dictionary</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.espn</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.flighttracker</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.cinema</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.SkiReport</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.stickies</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.stocks</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.tilegame</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.translation</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.unitconverter</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.weather</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.web-clip</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>com.apple.widget.worldclock</string>
					<key>Type</key>
					<string>bundleID</string>
				</dict>
			</array>
		</dict>
		<key>whiteListEnabled</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
	</dict>
	<key>com.apple.familycontrols.contentfilter</key>
	<dict>
		<key>filterBlacklist</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<array/>
		</dict>
		<key>filterWhitelist</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<array/>
		</dict>
		<key>restrictWeb</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>siteWhitelist</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<array>
				<dict>
					<key>address</key>
					<string>http://www.apple.com/startpage/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>Apple — Start</string>
				</dict>
				<dict>
					<key>address</key>
					<string>http://kids.discovery.com/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>Discovery Kids</string>
				</dict>
				<dict>
					<key>address</key>
					<string>http://pbskids.org/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>PBS Kids</string>
				</dict>
				<dict>
					<key>address</key>
					<string>http://www.howstuffworks.com/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>HowStuffWorks</string>
				</dict>
				<dict>
					<key>address</key>
					<string>http://kids.nationalgeographic.com/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>National Geographic - Kids</string>
				</dict>
				<dict>
					<key>address</key>
					<string>http://kids.yahoo.com/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>Yahoo! Kids</string>
				</dict>
				<dict>
					<key>address</key>
					<string>http://home.disney.go.com/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>Disney</string>
				</dict>
				<dict>
					<key>address</key>
					<string>http://scholastic.com/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>Scholastic.com</string>
				</dict>
				<dict>
					<key>address</key>
					<string>http://www.si.edu/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>Smithsonian Institution</string>
				</dict>
				<dict>
					<key>address</key>
					<string>http://www.timeforkids.com/TFK/</string>
					<key>bookmarkPath</key>
					<string>/</string>
					<key>pageTitle</key>
					<string>Time for Kids</string>
				</dict>
			</array>
		</dict>
		<key>useContentFilter</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>whitelistEnabled</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
	</dict>
	<key>com.apple.familycontrols.logging</key>
	<dict>
		<key>applications</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>iChat</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>web</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
	</dict>
	<key>com.apple.familycontrols.timelimits.v2</key>
	<dict>
		<key>familyControlsEnabled</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>time-limits</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<dict>
				<key>weekday-allowance</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>rangeType</key>
					<integer>0</integer>
					<key>secondsPerDay</key>
					<integer>10800</integer>
				</dict>
				<key>weekday-curfew</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>end</key>
					<string>06:00:00</string>
					<key>rangeType</key>
					<integer>0</integer>
					<key>start</key>
					<string>20:00:00</string>
				</dict>
				<key>weekend-allowance</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>rangeType</key>
					<integer>1</integer>
					<key>secondsPerDay</key>
					<integer>18000</integer>
				</dict>
				<key>weekend-curfew</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>end</key>
					<string>06:00:00</string>
					<key>rangeType</key>
					<integer>1</integer>
					<key>start</key>
					<string>20:00:00</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>com.apple.iChatAgent</key>
	<dict>
		<key>Setting.parentalControls</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>Setting.parentalControls.forceAIMWhitelist</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
		<key>Setting.parentalControls.forceChatLogging</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>Setting.parentalControls.forceJabberWhitelist</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
	</dict>
	<key>com.apple.ironwood.support</key>
	<dict>
		<key>Ironwood Allowed</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
		<key>Profanity Allowed</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
	</dict>
	<key>com.apple.mcxprinting</key>
	<dict>
		<key>RequireAdminToAddPrinters</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<false/>
		</dict>
	</dict>
	<key>com.apple.parentalcontrols</key>
	<dict>
		<key>prefsVersion</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
